.wrap{
    width:30rem;
    margin: 0 auto;
    border: .1rem solid lightgray;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: .3rem;
}
button{
    border: .1rem solid lightgray;
    width:100%;
    border-radius: 5rem;
    margin-top: 2rem;
    padding: .5rem 1rem;
    background: #fff;
    color: #333;
    font-weight: bold;
}