*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* div{
    background: url('FakeData/Bg.png') no-repeat;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
} */
